

<div class="grid gap-4">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/L8Y8rdx5/pexels-nietjuhart-796602.jpg" alt="">
    </div>
    <div class="grid grid-cols-5 gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/9FfdwMQk/pexels-fauxels-3182834.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/K4XmbjqY/pexels-tim-douglas-6205488.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/K8SYSqw5/pexels-rocketmann-prod-9486931.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/JzLBczrm/pexels-tima-miroshnichenko-5685812.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/VkfkkrsS/pexels-ivan-samkov-7213435.jpg" alt="">
        </div>
    </div>
</div>

